/* DISEÑO PARA MOBILE */

/* Estilo al body */
body{
    background-image: url("../Images/fondo_mobile.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

/* Página "INICIO" */
/* Grid layout */
/* .grid_contenedor_index{
    display: grid;
    grid-template-areas:
    "header"
    "presentacion"
    "ubicacion"
    "footer";
    grid-template-columns: 1fr;
} */

/* Estilos al header */
header{
    /* display: flex; */
    /* flex-direction: row-reverse; */
    /* justify-content: space-between; */
    background-color: #005227;
    position: sticky;
    top: 0;
}

nav{
    text-align: end;
}

/* Estilos al navbar */
nav .nav{
    display: none;
    margin-top: 0px;
    padding: 0;
    margin-left: 20px;
}


/* Estilo del boton cuando el menú está expandido*/
input:checked  ~ .nav{
    display: block;
}
 
nav > input {
    display: none;
}

.label_ham {
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid #ffff;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    text-align: center;
    user-select: none;
    font-size: 30px;
    color: #ffff;
    background-color: #005227;
    margin-top: 40px;
    margin-right: 20px;
}
  
input:checked ~ .label_ham {
    background: #03bb85;
}

nav>ul>li {
    display: block;
    margin: 0;
    padding: 10px;
    list-style: none;
    border-bottom: 1px solid #ffff;
    font-family: 'Raleway', sans-serif;
}

/*Estilo cuando el mouse pasa encima de cada link del menu*/
nav>ul>li:hover {
    filter: brightness(110%);
}

/*Estilos a los enlaces visitados*/
a:visited{
    color: white;
}

li>a{
    text-decoration: none;
}

.logo{
    width: 150px;
    margin-top: 20px;
    margin-left: 20px;
}

section>p{
    color: white;
    font-weight: bolder;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 1.8;
    text-align: center;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    margin: 30px;
}

section>h3, section>h2{
    color: #03bb85;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    text-align: center;
    margin: 30px;
}

section > iframe{
    width: 400px;
    height: 250px;
    border-radius: 5px;
    border: 5px solid #dcb943;
    margin: 0 auto;
    display: block;
    margin-bottom: 50px;
}

/* section #presentacion{
    grid-area: presentacion;
}

section #ubicacion{
    grid-area: ubicación;
} */

/* Estilos al footer */
footer{
    /* grid-area: footer;
    display: flex;
    flex-direction: column; */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer .nav{
    /* display: flex;
    list-style: none; */
    background-color: #005227;
    justify-content: space-between;
    font-family: 'Raleway', sans-serif;
    height: 40px;
    margin-bottom: 0;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.nav li{
    color: white;
}

/* Página "NOSOTROS" */
/* .grid_contenedor_nosotros{
    display: grid;
    grid-template-areas:
    "header"
    "historia"
    "dueña"
    "footer";
    grid-template-columns: 1fr;
} */

/* section #historia{
    grid-area: historia;
}

section #dueña{
    grid-area: dueña;
} */

section>h4{
    font-family: 'Raleway', sans-serif;
    color: #ffff;
    margin-top: 30px;
}

section>h1{
    font-family: 'Dancing Script', cursive;
    color: #ffff;
    font-size: 40px;
    margin-top: 0;
}
#dueña{
    background-color: #03bb85;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    /* margin: 20px; */
    right: 0;
    left: 0;
    margin-bottom: 60px;
}

#img_dueña{
    height: 250px;
}

/* Página "MENÚ" */
/* .grid_contenedor_menu{
    display: grid;
    grid-template-areas:
    "header"
    "menu_content"
    "footer";
    grid-template-columns: auto;
}

section #contenedor_menu{
    grid-area: menu_content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contenedor_menu{
    margin-bottom: 30px;
} */

#menu{
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: space-between; */
    /* width: auto; */
    height: 250px;
    background-color: #03bb85;
    border: 5px solid #dcb943;
    /* border-radius: 10px; */
    text-align: center;
    align-items: center;
    margin: 20px;
}

.img_menu{
    width: 200px;
    height: 150px;
    /* margin-right: 20px; */
    border-radius: 10px;
}

#cont_menu{
    margin-top: 20px;
    margin-bottom: 60px;
}

.p_menu{
    /* margin-left: 20px; */
    font-family: "Dancing script", cursive;
    font-size: 30px;
}

.p_menu > a{
    text-decoration: none;
}

.p_menu>a:hover{
    color: #dcb943;
    font-weight: bold;
}

/* Página "GALERÍA" */
/* .galeria{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
} */

/* .galeria_fotos > section{
    display: flex;
    flex-direction: row;
} */

#cont_galeria{
    /* margin-top: 20px; */
    margin-bottom: 50px;
}

.fotos{
    width: 350px;
    height: 250px;
    border: 5px solid #dcb943;
    text-align: center;
}

#galeria{
    text-align: center;
    margin: 20px;
}

/* Página "CONTACTO" */
form{
    /* margin: 0 auto;
    width: 400px;
    margin-top: 30px;
    margin-bottom: 80px; */
    background-color: white;
    padding: 20px;
    border-radius: 3px;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
}

input, textarea{
    outline: none;
    border: 0;
    width: 380px;
    font-family: 'Raleway', sans-serif;
    color: black;
}

select{
    font-family: 'Raleway', sans-serif;
    width: 380px;
    padding: 10px;
    border: solid 1.5px #ccc;
}

select:focus{
    border-color: #d09306;
}

select:hover{
    color:#d09306
}

.campo{
    border: solid 1.5px #ccc;
    padding: 10px;
    margin-bottom: 15px;
}

.campo:focus{
    border-color: #d09306;
}

.center_content{
    text-align: center;
}

.boton{
    padding: 10px;
    background-color: #d09306;
    font-family: 'Dancing script', cursive;
    color: white;
    font-size: 30px;
}

#cont_form{
    width: 440px;
    margin-top: 10px;
    margin-bottom: 60px;
}

/* CARPETA "MENU_PLATOS" */
/*Platillos del menú*/
.menu_platos{
    width: 400px;
    height: 550px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #03bb85;
    font-family: 'Raleway', sans-serif;
    line-height: 2;
    font-size: 20px;
    padding: 20px;
    margin-top: 60px;
    margin-bottom: 80px;
}

.menu_platos h1{
    text-align: center;
    font-family: 'Dancing script', cursive;
    color: #ffff;
}

.menu_platos ul{
    list-style-type: circle;
}

.menu_platos ul li{
    color: #ffff;
}



/* DISEÑO PARA DESKTOP */
@media screen and (min-width: 992px){
    /* Estilos al cbody */
    body{
        background-image: url("../Images/fondo.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
    }

    .logo{
        width: 250px;
    }

    #menu_ham{
        display: none;
    }
    .label_ham{
        display: none;
    }

    /* Página "INICIO" */
    /* .grid_contenedor_index{
        display: grid;
        grid-template-areas:
        "header header"
        "presentacion ubicacion"
        "footer footer";
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
    } */

    /* Estilos al header */
    header{
        text-align: center;
        align-items: center;
        background-color: transparent;
        /* Agregando animaciones a través de una nueva rama */
        position: sticky;
        top: 0;
        width: 100%;
        transition: 0.5s;
    }

    nav{
        text-align: center;
    }

    header.abajo nav ul{
        background-color: #dcb943;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
    }

    header.abajo nav > ul > li > a:hover{
        color: #005227;
    }

    header.abajo .logo{
        display: none;
    }
    /* Aquí termina la rama */

    
    /* Estilos al nav */
    nav .nav{
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: space-around;
        background-color: #005227;
        height: 50px;
        font-family: 'Raleway', sans-serif;
        margin-top: 0;
        padding-left: 0;
        margin-left: 0;
        width: 100%;
    }

    nav > ul > li{
        background-color: transparent;
        border-bottom: none;
    }

    nav > ul > li > a:hover{
        color: #dcb943;
        font-size: 20px;
    }

    /* Estilos al footer */
    footer .nav > li > a:hover{
        color: #dcb943;
    }

    #presentacion{
        padding-right: 50px;
    }

    section>iframe{
        width: 450px;
        height: 300px;
        margin-top: 60px;
        
    }

    /* Página "NOSOTROS" */
    /* .grid_contenedor_nosotros{
        display: grid;
        grid-template-areas:
        "header header"
        "historia dueña"
        "footer footer";
        grid-template-columns: auto auto;
    } */
    
    #historia{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 50px;
    }

    #dueña{
        margin-top: 30px;
    }

    /* Página "MENÚ" */
    /* #contenedor_menu{
        display: grid;
        grid-template-columns: auto auto;
    } */

    #menu{
        height: 320px;
        text-align: center;
    }

    .img_menu{
        width: 320px;
        height: 200px;
    }

    .p_menu{
        font-size: 40px;
    }

    /* Página "GALERÍA" */
    /* .galeria{
        display: flex;
        flex-direction: row;
        align-items: center;
    } */

    #cont_galeria{
        margin-top: 50px;
        margin-bottom: 60px;
    }

    #galeria{
        margin: 20px;
    }

    #cont_form{
        margin-top: 60px;
        margin-bottom: 80px;
    }

}